@import "tailwindcss";

@theme {
  --color-gnome-bg: var(--bg);
  --color-gnome-surface: var(--surface);
  --color-gnome-accent: var(--accent);
  --color-gnome-text: var(--text-primary);
  --color-gnome-text-dim: var(--text-dim);
  --color-gnome-border: var(--border);
  --color-gnome-input: var(--input);
}

:root {
  --bg: #f6f5f4;
  --surface: #ffffff;
  --accent: #3584e4;
  --text-primary: #2e3436;
  --text-dim: #5e5c64;
  --border: #cdc7c2;
  --input: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1e1e1e;
    --surface: #2d2d2d;
    --accent: #3584e4;
    --text-primary: #ffffff;
    --text-dim: #949494;
    --border: #3d3d3d;
    --input: #303030;
  }
}

body {
  background-color: var(--bg);
  color: var(--text-primary);
  transition: background-color 0.2s ease, color 0.2s ease;
}


@utility draggable {
  -webkit-app-region: drag;
}

@utility no-drag {
  -webkit-app-region: no-drag;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  /* gray-400 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
  /* gray-500 */
}